// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$myFlix-Angular-primary: mat.define-palette(mat.$amber-palette);
$myFlix-Angular-accent: mat.define-palette(mat.$indigo-palette);

// The warn palette is optional (defaults to red).
$myFlix-Angular-warn: mat.define-palette(mat.$pink-palette);

$custom-background-color: map_get(mat.$blue-grey-palette, 900);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$myFlix-Angular-theme: mat.define-dark-theme(
  (
    color: (
      primary: $myFlix-Angular-primary,
      accent: $myFlix-Angular-accent,
      warn: $myFlix-Angular-warn,
    ),
  )
);

// Insert custom background color
$background: map-get($myFlix-Angular-theme, background);
$background: map_merge(
  $background,
  (
    background: $custom-background-color,
  )
);
$theme: map_merge(
  $myFlix-Angular-theme,
  (
    background: $background,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($myFlix-Angular-theme);
.darkMode {
  @include mat.all-component-colors($myFlix-Angular-theme);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: black;
  }
  &::-webkit-scrollbar-track {
    background: rgba(33, 33, 33, 1);
  }
}
